
{% extends 'base.html'  %}
{% block content %}

<h1> Not-A-Clue-Coding Welcomes You! </h1>
<p>
	This a place to store and track stocks.  So sit back and relax. Our goal will be to buy low and sale high. 
</p>
<p>
	Where it all ends I can't fathom my friends.  If I knew I might toss out my anchor.
	So I cruise along always searchin' for songs not a lawyer a thief or a banker.
	As a dreamer of dreams and a travelin' man.
I have chalked up many a mile,
read dozens of books about heroes and crooks,
and I learned much from both of their styles

</p>


{% endblock %}